body {
    background-image: url(../images/star-wars-background.jpg);
}

h2, h3, p {
    color: #ffd700;
    font-size:30px;
    font-family: 'Gugi', cursive;

}

.jumbotron {
    text-align:center;
     opacity: .75;
     background: #1b1b1b!important;
     color: #ffd700;
     font-family: 'Gugi', cursive;
     font-size: 48px;

}

.section {
    background-color:#1b1b1b;
    opacity: .75;
}